<div class='header'>
	<div class='header-shadow'>
		<div class='User-box'>
			<div class='Avatar'><img src='icons8-customer.png'/>
				<p class='User-email'>Gmail.@gmail.com</p>
			</div>
		</div>
		<div class='message-box'>
		</div>
	</div>
</div>