<div class='container registration'>
	<h2 сlass='form-heading'>авторизация</h2>
	<form action="/login" method='post' class='register-form'>
		<label for='email'>Электронный адресс</label>
		<input placeholder="email" class='form-field email' type="email" name="email"><br/>
		<label for='password'>Пароль</label>
		<input placeholder="password" class='form-field password' type="password" name="password">
		<button class='sub-button' type='submit'>Войти</button>
	</form>
</div>